---
layout: default
---
<article class="post">


  <header class="post-header">
    <h1 class="post-title">{{ page.number | append: " " | append: page.title }}</h1>
  </header>


  <div class="post-content">

		{%- if page.description -%}
			<p>{{ page.description }}</p>
		{%- endif -%}
		
		{%- assign area_list = site.emptyarray -%}

		{%- for area in site.areas -%}
			{%- assign area_list = area_list | push: area.number -%}
		{%- endfor -%}

	<table>
		<tr>
		<th>Code</th>
		<th>Area</th>
		{%- for title in page.data_titles -%}
			<th>{{ title }}</th>
		{%- endfor -%}
		</tr>
		{%- for adversary in site.data[page.data_file] -%}
			<tr>
			<td>{{ adversary.code }}</td>
				{%- if area_list contains adversary.area -%}
					{%- for area in site.areas -%}
						{%- if area.number == adversary.area -%}
							<td><a href="{{ area.url | relative_url }}" title="{{ area.title }}">{{adversary.area}}</a></td>
						{%- endif -%}
					{%- endfor -%}
				{%- else -%}
					<td>{{ adversary.area }}</td>
				{%- endif -%}
				{%- for data_item in adversary.info -%}
					<td>{{ data_item }}</td>
				{%- endfor -%}
			</tr>
		{%- endfor -%}
	</table>

    {{ content }}

  </div>

</article>
